<label for="user_password" class="first">
	Password:
	<%= password_field ('user', 'password',{:id => "user_password", :maxlength => 40, :class => "editbox"}) %>
</label>
<label for="user_password_confirmation">
	Confirm Password:
	<%= password_field ('user', 'password_confirmation',{:id => "user_password_confirmation", :maxlength => 40, :class => "editbox"}) %>
</label>
<% if submit %>
   <%= submit_tag 'Change Your Password' %>
<% end %>
