<div class="error">
<%= error_messages_for 'category' %>
</div>

<p><label for="category_category_name">Category name</label><br/>
<%= text_field 'category', 'category_name', "maxlength" => 30  %></p>

